* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    height: 4rem;
    width: 9rem;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid royalblue;
    border-radius: 5px;
    cursor: pointer;
}


